@{
    ViewData["Title"] = "Options Price Predictor";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam mauris justo, facilisis vel quam vel, luctus lobortis ex. Donec efficitur finibus maximus. Nullam lacus sapien, pharetra finibus venenatis a, fermentum eu sapien. Aliquam ac velit et sapien cursus tincidunt at sit amet ipsum. Curabitur consequat sit amet nibh ut pulvinar. Etiam a neque non nisi tempor posuere. Pellentesque consectetur sem suscipit lorem sollicitudin, sed mattis enim volutpat. Donec id dapibus tellus. Suspendisse ultricies commodo turpis quis malesuada. Morbi molestie semper porta. Integer at metus laoreet, vestibulum orci non, luctus orci. In rhoncus a odio nec mattis. Vivamus in lacinia erat, quis dictum erat. Proin rutrum egestas dignissim. Ut mattis turpis nec sem mattis, quis efficitur quam commodo.

        Nullam tincidunt ornare tellus, at efficitur justo eleifend non. Etiam nec venenatis nisi. Nunc ornare vehicula mattis. Ut vestibulum libero vel libero eleifend, ut porta nunc sagittis. Etiam commodo condimentum semper. Maecenas sit amet ultricies turpis. Duis facilisis sem vitae ante feugiat dignissim. Vestibulum ultrices molestie metus.</a>.
    </p>
</div>
